/* store title css */
.title-color{
  color: #205072;
}
/* product showcase section css */
.single-product {
  transition: 0.6s;
}
.single-product:hover {
  box-shadow: 2px 2px 10px darkgrey;
  border-radius: 10px;
}
.product-image {
  height: 200px;
  padding: 20px;
}
.rating-color{
  color:orangered;
  font-weight: 600;
}
.reviewer-count-color{
  color:maroon;
  font-weight: 600;
}
/* shopping cart css */
.cart {
  background-color:mintcream;
  width: 350px;
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  position: fixed;
}